@charset "utf-8";

// Bootstrap variables
@import "tinympc/variables";

// Bootstrap itself
@import "bootstrap";

// Import partials.
@import "tinympc/base";
@import "tinympc/layout";
@import "tinympc/highlight";

.videoWrapperOuter {
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
}
.videoWrapperInner {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}