---
layout: landingpage/default
---

<!-- <video id="background-video" preload="auto" fluid="true" autoplay loop muted poster=/assets/images/landingpageimage.png> -->
<!-- <video id="background-video" preload="auto" fluid="true" autoplay loop muted>
	<source src="/assets/videos/badinitial.mp4" type="video/mp4">
</video> -->
<!-- <video
	id="background-video"
	class="video-js vjs-big-play-centered vjs-theme-sea"
	autoplay
	preload="auto"
	fluid="true"
	data-setup='{}'
	>
	<source src="/assets/videos/badinitial.m3u8" type="application/x-mpegURL">
</video> -->
<img id="background-video" src="/assets/videos/extreme_recovery.gif" alt="extreme-recovery-gif">
<!-- <img id="background-video" src="/assets/images/landingpageimage.png" alt="badinitialgif"> -->
<div class="head-intro position-relative text-center">
	<!-- <div class="row h-100 mw-100"> -->
	<div class="row no-gutters h-100 mw-100">
		<div class="col-md-8 p-lg-8 mx-auto my-auto">

			<img id="tinympcascii" src="/assets/images/logo_white.png" alt="tinympcascii">

			<div class="col-md-8 col-lg-8 mx-auto my-1">
				<a href="/docs/" class="btn btn-light bg-white">
					Get started
				</a>
			</div>

		</div>
	</div>
</div>



<!-- 
<div class="after-transition">
	<h1>This is a heading</h1>
	<p>This is a paragraph.</p>
</div> -->


<div class="home-section-1 text-gray">
	<div class="container">

		<div class="row">
			<div class="col">
				<h2 class="mb-4">Features (expected)</h2>
			</div>
		</div>
		<div class="row">
			{% for feature in site.data.features %}
				<div class="col-lg-4 col-md-6">
					<i class="{{feature.icon}} fa-2x my-3"></i>
					<h5 class="mb-1">{{feature.title}}</h5>
					<p class="mb-2">{{feature.description}}</p>
				</div><!-- /.col-lg-4 -->
			{% endfor %}
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-5">
				<h2 class="featurette-heading">TinyMPC is small, but fast</h2>
				<p class="lead">We benchmarked TinyMPC against OSQP, the state-of-the-art QP solver, on microcontrollers.</p>
			</div>
			<!-- <div class="col-md-8">
				<a href="https://github.com/osqp/osqp_benchmarks"> <img class="img-fluid mx-auto" src="{{ site.baseurl }}/assets/images/benchmarks/performance_profiles.jpg" alt="Performance Profiles"> </a>
			</div> -->
		</div>

	</div>
</div>

<div class="transition-container">
	<!-- <img src="/assets/images/transition_no_blue.svg" alt="transition_no_blue" style="width:100%; height:300px; object-fit:fill; display:block; position:relative; left:0px; bottom:0px;"/> -->
	<img id="transition-svg" src="/assets/images/transition_no_blue.svg" alt="transition_no_blue"/>
</div>

<div class="home-section-2 after-transition">
	<div class="container">

		<!-- <hr class="featurette-divider mt-3"> -->

		<div class="row">
			<div class="col">
				<h2 class="mb-5">Credits</h2>
			</div>
		</div>
		<div class="row">
			{% for contributor in site.data.credits %}
				<div class="col-lg-4 col-md-6">
					{% if contributor.website %} <a href="{{contributor.website}}">{% endif %}
						<img class="rounded-circle mb-2" src="/assets/images/credits/{{ contributor.name | downcase | replace: ' ', '_'}}.jpg" alt="{{ contributor.name }}" width="140" height="140">
						{% if contributor.website %} </a> {% endif %}
					<h5 class="mb-1">{{contributor.name}}</h5>
					<p class="my-1">{{contributor.role}}</p>
					{% if contributor.affiliation %} <p class="mb-5"><b>{{contributor.affiliation}}</b></p>{% endif %}
				</div><!-- /.col-lg-4 -->
			{% endfor %}
		</div>
		
	</div>
</div>

