// Intro jumbotron
.head-intro {
    // background: url(../images/home_header.jpg) center;
    // background: black;
    // background-size: cover;
    // height: 500px;
   // width: 100%;
    height: 100vh;
    color: white;
    // text-shadow: 0px 2px 3px #555;
     // -webkit-background-size: 100% 100%;           [> Safari 3.0 <]
     //    -moz-background-size: 100% 100%;           [> Gecko 1.9.2 (Firefox 3.6) <]
     //      -o-background-size: 100% 100%;           [> Opera 9.5 <]
     //         background-size: 100% 100%;           [> Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers <]
   
}

#background-video {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    // position: fixed;
    z-index: -1;
}

.head-intro .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}



/* Sticky footer styles
-------------------------------------------------- */
body {
    min-height: 100vh;
}

.landing-body {
    background: map-get($theme-colors, "dark");
}

#tinympcascii {
    padding-left: 5%;
    width: 60%;
    object-fit: contain;
}

.flex-grow {
    flex: 1;
}


.footer {
    // margin-top: 5rem;
    a {
        color: $secondary;
    }
}

.landing-footer {
    background: map-get($theme-colors, "light");
}

.navbar-brand .img-fluid {
    height: 40px;
}

.nav-item .img-fluid {
    height: 40px;
}


// Footer copyright
.copyright {
    font-size: .7rem;
    text-align: right;
    a, a:visited {
    color: $secondary;
    text-decoration: none;
    }
    a:hover{
    color: $dark;
    text-decoration: none;
    }
}

// Features
// The board
.home-section-1 {
    padding-top: 5rem;
    padding-bottom: 0rem;
    text-align: center;
    @include media-breakpoint-up(md) {
    p {
        font-size:.9rem;
    }
    }
}

.home-section-2 {
    padding-top: 0rem;
    padding-bottom: 5rem;
    text-align: center;
    @include media-breakpoint-up(md) {
        p {
            font-size:.9rem;
        }
    }
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
text-align: left;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* Slider */
// .slider_block {
//         display: inline-block;
//         height: 100%;
//         vertical-align: middle;
//         margin: auto;
// }

.slider img {
    display:block;
    margin: auto;
    height: 80px;
//         @include media-breakpoint-up(md) {
//         height: 100px;
// }
    @include media-breakpoint-up(lg) {
    height: 100px;
}
    //   background: #3A6F9A;
    // vertical-align: middle;
    // max-height: 100px;
    // max-width: 180px;// margin:auto;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
}

#particles-js {
    background: #224873;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

// .before-transition {
//     background: #636c87;
// }

.after-transition {
    background: map-get($theme-colors, "light");
}

.text-gray {
    color: map-get($theme-colors, "gray");
}

/* 
.transition > img {
    width: 100vw;
    height: 300px;
    object-fit: fill;
    display: block;
} */
/* 
img {
    width: 100vw;
    height: 300px;
    object-fit: fill;
    display: block;
} */